<p>welcome works!</p>
<table class="table table-success table-striped">
    <thead>
    <tr>
        <th>SNo</th>
       <th>Name</th>
       <th>City</th>
    </tr>
       
    </thead>
    <tbody>
        <tr>
        <td>1</td>
       <td>Sneha</td>
       <td>Vijayawada</td>
    </tr>
    <tr>
     <td>2</td>
     <td>Lakshmi</td>
     <td>Hyderabad</td>
    </tr>
    <tr>
     <td>3</td>
     <td>Bhuma</td>
     <td>Guntur</td>
    </tr>
</tbody>
</table>

<br />
<button (click)="TryToastr()">Toastr Button</button>

<mat-icon
  aria-hidden="false"
  aria-label="Example home icon"
  fontIcon="home"
></mat-icon>

<mat-icon aria-hidden="false"
 matBadge="2" 
 matBadgeColor="accent">
 checklist
</mat-icon>
