<p>hello {{myName | uppercase}}! It is working</p>
<h4 *ngIf="salary > 0">Salary - {{ salary | currency : "INR" : "symbol-narrow" : "4.2-2" }}
</h4>
@if (salary>25000) {
    <h4 class="text-success"> Your salary is more than 25000</h4>
} 
@else{
    <h4 [ngClass]="classname">Your salary is less than 25000</h4>
}
<div appHighlight>
    YOur salary highted after increment- {{calc2.add(salary,5000) | currency : "INR"}}
</div>
<div> Your salary after increment- {{getIncrement() | currency : "INR"}}</div>

@switch (weekDay) { @case ("Sun"){
    <h3>Enjoy! It's Sunday</h3>
} @case("Mon"){
    <h3>Go to office:(</h3>
}@case("Tue"){
    <h3>Today also go to office:( &#128557;</h3>
}}

<br />
<ul>
    @for (friend of friendNames; track $index){
        <li>{{$index +1}} - {{friend}}</li>
    }
</ul>


<input type="text" [(ngModel)]="company"/>

<h4>{{company}}</h4>

<table class="table table-primary">
    <tr>
       <th>SNo</th>
       <th>Name</th>
       <th>City</th>
    </tr>
    <tr>
       <td>1</td>
       <td>Sneha</td>
       <td>Vijayawada</td>
    </tr>
    <tr>
     <td>2</td>
     <td>Lakshmi</td>
     <td>Hyderabad</td>
    </tr>
    <tr>
     <td>3</td>
     <td>Bhuma</td>
     <td>Guntur</td>
    </tr>
 </table>
<h4>Friends are- </h4>
<ul>
    <li>{{friendNames[0]}}</li>
    <li>{{friendNames[2]}}</li>
</ul>

<h4>My friends are-</h4>
<ul *ngFor="let friend of friendNames">
    <li>{{friend}}</li>
</ul>
<hr />

<button (click)="SayHello()" [disabled]="isDisabled">Click Me</button>

<br />
Message -{{message}}
