<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']"><mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="home"
      style="font-size: smaller;vertical-align: middle;"></mat-icon>My Application
      
     </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/hello']">Hello</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/welcome']">Welcome</a>
        </li>
        <li class="nav-item">
         <a class="nav-link" [routerLink]="['/parent']">Parent</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" [routerLink]="['/emps']">Emps</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" [routerLink]="['/productslist']">Products List</a>
       </li>
       <li class="nav-item">
        <a class="nav-link" [routerLink]="['/news']">News</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" [routerLink]="['/showfav']" style="text-align:justify;"><mat-icon aria-hidden="false"
          matBadge="{{ favs?.length }}" 
          matBadgeColor="accent">
          favorite
         </mat-icon></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/delfav']" style="text-align:justify;"><mat-icon aria-hidden="false"
          matBadge="{{ delfavs?.length }}" 
          matBadgeColor="accent">
          delete
         </mat-icon></a>
      </li>
       <button type="button" class="btn btn-primary" *ngIf="(loggedin$ | async) == 1" [routerLink]="['/logout']" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Logout
      </button>
        
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Logout</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Do you want to logout?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="color: green;" >Yes</button>
                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick = "javascript:history.back()" style="color: red;">No</button>
                </div>
              </div>
            </div>
          </div>
         
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>


